* {
  font-family: "Roboto", sans-serif;
}

#com-dropdown {
  max-height: 250px; 
  overflow: auto;
}

.header {
  text-align: center;
  background-color: #1c3879;
  color: #f9f5eb;
  padding: 40px;
}

nav {
  background-color: #607eaa;
  padding: 8px;
}

.main-container {
  padding-top: 40px;
}

#showCommHeader {
    text-align: center;
    color: #1c3879;
    font-weight: bolder;
}

#currentPrice {
    justify-content: space-evenly;
    color: #1c3879;
    font-weight: bolder;
}

#graph {

}

#news {

}

.footer {
  text-align: center;
  background-color: #1c3879;
  color: #f9f5eb;
}

