* {
  font-family: "Roboto", sans-serif;
}

body {
}

#com-dropdown {
  max-height: 250px; /* you can change as you need it */
  overflow: auto; /* to get scroll */
}

.header {
  text-align: center;
  background-color: #1c3879;
  color: #f9f5eb;
  padding: 30px;
}

nav {
  background-color: #607eaa;
  padding: 20px;
}

.main-container {
  padding-top: 40px;
}

#currentPrice {
  /* top left, above chart, smaller */
}

#graph {
  /* large, slightly to left, borders */
}

#news {
  /* under chart */
}

#wikipedia {
  /* to the right of chart */
}

.footer {
  text-align: center;
  background-color: #1c3879;
  color: #f9f5eb;
}
